img{
    border: 2px solid #FF0000;
	border-radius: 5px;
	padding: 5px;
	margin: px 2px;
	width: 15em; 
	background-color: white;
	min-width: 333px;
	float:right;
}

.kepek1{
	float: inline-end;
	width: auto;
}

.kepek2{
	float:left;
}