p {
    color: black
}



#cím{
    text-align: bold;
}

.fontos{
    color:greenyellow;
    font-weight: bold;
}
 
.kozep{
    text-align: center;
}
body{
    background-color: blanchedalmond;
}

.hatter{
    background-color: red;
}

a{
    text-decoration: none;
    color:red
}

img{
    float: right;
    box-shadow: 5px 5px 7px #1D1D4E;
    border: 2px solid #1D1D4E;
    min-width: 300px;
    padding: 2px;
    margin: 25px;
}