p {
    color: black
}



#cím{
    text-align: bold;
}

.fontos{
    color:greenyellow;
    font-weight: bold;
}
 
.kozep{
    text-align: center;
}
body{
    background-color: blanchedalmond;
}

.hatter{
    background-color: red;
}